{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
  <h1><a href="/" style="text-decoration: none; color:black;">AutoClip</a></h1>
  <hr><br>
  <div>
    <p>Provide a url to the video you want to clip.</p>
    <form id="download-form" method="get">
      <div class="form-group">
        <label for="url">URL:</label>
        <input type="url" class="form-control" id="url" name="url" onfocus="this.value=''"
          value="https://www.youtube.com/watch?v=dQw4w9WgXcQ" required>
      </div>
      <button type="submit" class="btn btn-primary" id="submit-button">Download</button>
    </form>
  </div>
  <br><br>
  <div>
    <h3>Task Status</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody id="tasks">
        {% for task in tasks|reverse %}
        <tr>
          <td>{{task.id}}</td>
          <td>{{task.status}}</td>
          <td><a href="/video/{{task.result}}" target="_blank">See Details</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  const form = document.getElementById('download-form');
  const submitButton = document.getElementById('submit-button');
  const taskIdElement = document.getElementById('task-id');

  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    var url = form.elements.url.value;
    fetch('/task', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ url: url }),
    })
      .then(response => response.json())
      .then(data => {
        getStatus(data.task_id)
      })
  });

  

  function getStatusIcon(status) {
    var status_icon = '⚠️';
    switch (status) {
      case 'SUCCESS':
        status_icon = '✔️';
        break;
      case 'FAILURE':
        status_icon = '❌';
        break;
      case 'PENDING':
        status_icon = `<span class="emoji hourglass" role="img" aria-label="hourglass"></span>`;
        break;
    }
    return status_icon
  }


  function getStatus(taskID) {
    fetch(`/task/${taskID}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      },
    })
      .then(response => response.json())
      .then(res => {
        console.log(res)
        var task_id = res.task_id
        var status_icon = getStatusIcon(res.task_status)
        var status = `${status_icon} ${res.task_status}`;
        var result = `<a href="/video/${res.task_result}" target="_blank">See Details</a>`;
        // Get a reference to the table and the rows of the table
        var table = document.getElementById("tasks");
        var rows = table.getElementsByTagName("tr");
        // Loop through the rows and check if a row with the specified id already exists
        var rowExists = false;
        for (var i = 0; i < rows.length; i++) {
          var row = rows[i];
          var rowId = row.getAttribute("id");
          if (rowId == task_id) {
            // If a row with the specified id already exists, update the values of the cells in that row
            row.cells[1].innerHTML = status;
            row.cells[2].innerHTML = result;
            rowExists = true;
            break;
          }
        }
        // If a row with the specified id doesn't exist, create a new row and add it to the table
        if (!rowExists) {
          var newRow = document.createElement("tr");
          newRow.setAttribute("id", task_id);
          var id_cell = document.createElement("td");
          var status_cell = document.createElement("td");
          var result_cell = document.createElement("td");
          id_cell.innerHTML = task_id;
          status_cell.innerHTML = status;
          result_cell.innerHTML = result;
          newRow.appendChild(id_cell);
          newRow.appendChild(status_cell);
          newRow.appendChild(result_cell);
          firstRow = table.getElementsByTagName("tr")[0];
          table.insertBefore(newRow, firstRow);
        }
        const taskStatus = res.task_status;
        if (taskStatus === 'SUCCESS' || taskStatus === 'FAILURE') return false;
        setTimeout(function () {
          getStatus(res.task_id);
        }, 5000);
      })
      .catch(err => console.log(err));
  }

</script>
{% endblock %}