{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
  <h1><a href="/" style="text-decoration: none; color:black;">AutoClip</a></h1>
  <hr><br>
  <div>
    <p>Provide a url to the video you want to clip.</p>
    <form id="download-form" method="get">
      <div class="form-group">
        <label for="url">URL:</label>
        <input type="url" class="form-control" id="url" name="url" onfocus="this.value=''"
          value="https://www.youtube.com/watch?v=dQw4w9WgXcQ" required>
      </div>
      <button type="submit" class="btn btn-primary" id="submit-button">Download</button>
    </form>
  </div>
  <br><br>
  <div>
    <h3>Task Status</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody id="tasks">
      </tbody>
    </table>
  </div>
</div>
<script>
  const form = document.getElementById('download-form');
  const submitButton = document.getElementById('submit-button');
  const taskIdElement = document.getElementById('task-id');

  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    var url = form.elements.url.value;
    fetch('/task', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ url: url }),
    })
      .then(response => response.json())
      .then(data => {
        getStatus(data.task_id)
      })
  });
</script>
{% endblock %}